{% extends '__base__.html' %}

{% block title %}WEB_IED{% endblock %}

{% block beforehead %}

<script>

$(function () {
    var vm = new Vue({
        el: '#vm',
        data: {
            code_text: ''
        },
        methods: {
            submit: function (event) {
                event.preventDefault();
                var $form = $('#vm');
                if (! this.code_text.trim()) {
                    return $form.showFormError('请输入代码');
                }
                
                $form.postJSON('/api/web_ide', {
                    code_text: this.code_text.trim()
                }, function (err, r) {
                    if (err) {
                        return $form.showFormError(err);
                    }
                    refresh();
                });
            },

            back: function () {
                location.assign('/');
            }
        }
    });
    $('#vm').show();
});

</script>

{% endblock %}

{% block content %}

    <div class="uk-width-2-3">
        <h1>欢迎使用WEB_IDE！</h1>
        {% if compiler %}
            {% for str in compiler %}
                <li>{{ str }}</li>
            {% endfor %}
            <div id="vm" class="uk-width-1-1">
                <a href="#0" v-on="click: back()"><i class="uk-icon-user"> 返回</i></a>
            </div>
        {% else %}
            <form id="vm" v-on="submit: submit" class="uk-form uk-form-stacked">
                <div class="uk-alert uk-alert-danger uk-hidden"></div>
                <div class="uk-form-row">
                    <div class="uk-form-controls">
                        <textarea v-model="code_text" rows="16" name="code_text" placeholder="your code" class="uk-width-1-1" style="resize:none;"></textarea>
                    </div>
                </div>
                <div class="uk-form-row">
                    <button type="submit" class="uk-button uk-button-primary"><i class="uk-icon-user"></i> 编译</button>
                </div>
            </form>
        {% endif %}
    </div>

{% endblock %}
